// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~node-waves/src/scss/waves.scss';

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
}


.highlight-text {
    background: yellow;
}


.lightbox-gallery-img {
    width: 9rem;
    border-radius: var(--border-radius);
}